<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fontawesome CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"  >

    <!-- Bulma CSS -->
   <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- AJAX QUERY -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Custom JS -->
<!--     <script type="text/javascript" src="{{ url_for('static', filename='js/popup.js') }}"></script> -->
    <title>24Hours Health Remedy Stores | Hypertension Tea</title>
  </head>
  <body>
    <header>
        <!-- NAVBAR -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Products</a></li>
            <li class="breadcrumb-item active" aria-current="page">Hypertension Tea</li>
          </ol>
        </nav>
    </header>
    <div class="container-fluid">

      <!-- HERO -->
      <section class="hero is-danger is-medium is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">ONLY IF YOU ACT TODAY...... DIAGONIZED HYPERTENSION CONDITION AND CARDIO-VASCULAR RELATED ISSUES CAN BE A THING OF THE PAST
                </h1>
            </div>
        </div>
      </section>
      <!-- END OF HERO -->

    <!-- CONTAINER -->
    <div class="container">
        <!-- START ARTICLE FEED -->
        <section class="articles">
          <!-- START COLUMN -->
            <div class="column">
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content has-text-centered">
                                <p class="title article-title">A 'Daily' Tea Cup of this TEA is all you need to permanently lower HIGH BLOOD PRESSURE and prevent stroke, hypertension heart problems and other cardiovascular disease caused by Microcirculation disturbance or heart atack within the next 20 to 30 days.</p>
                                <div class="tags has-addons level-item">
                                    <span class="tag is-rounded is-danger">24hoursng</span>
                                </div>
                            </div>
                        </div>
                        <div class="content article-body">
                            <p>Dear friend, <br><br>
                              Have you always battled with Hypertension or cardiovascular problems and have been looking for a way out?
                              When was the last time you breathed freely without difficulty or irregular heart beat in your chest?
                              Do you experience severe headaches, vision problems, nose bleeds or blood in urine?
                              Do you experience pounding in the chest, neck or ears?
                              If you are experiencing any of the above, then there is a high risk of a hypertension and related cardiovascular condition...........
                              if nothing is done and quickly too and in more advanced cases, death is not far.
                            </p>
                            <h3 class="has-text-centered" style="color: red;">Why Regulate Your Blood Pressure?</h3>
                            <p> 
                              This Tea starts reversing high blood pressure after you take it and continues eliminating hypertension without any side effects
                              Nearly 70% of persons suffer First Heart Attack as a result of high blood pressure
                              An increasing blood pressure could be caused by family history, especially if your parents or other close relatives have high blood pressure
                              Also we are exposed to enormous stress on daily basis especially in Nigeria.
                              Your body produces a surge of hormones when you're in a stressful situation. These hormones increase your blood pressure by causing your heart to beat faster and your blood vessels to narrow.
                              Smoking, drinking too much alcohol and eating unhealthy foods leads to high blood pressure too.
                            </p>
                          <h3 class="has-text-centered" style="color: red;">What is Hypertension?</h3>
                          <p>
                            It is usually refereed to as “Silent Killer”
                            Hypertension, also known as high or raised blood pressure, is a condition in which the blood vessels have persistently raised pressure. Blood is carried from the heart to all parts of the body in the vessels. Each time the heart beats, it pumps blood into the vessels. Blood pressure is created by the force of blood pushing against the walls of blood vessels (arteries) as it is pumped by the heart. The higher the pressure, the harder the heart has to pump. 
                            Hypertension is a serious medical condition and can increase the risk of heart, brain, kidney and other diseases.
                            <strong>Hypertension is a major cause of premature death worldwide.</strong>
                          </p>
                          <h3 class="has-text-centered" style="color: red;">Causes of High Blood Pressure?</h3>
                          <p>                                
                            There are pointers or signs that you could be having a high blood pressure
                            <ul>
                              <li>A diet high in salt, fat, and/or cholesterol.</li>
                              <li>Chronic conditions such as kidney and hormone problems, diabetes, and high cholesterol.</li>
                              <li>Family history, especially if your parents or other close relatives have high blood pressure.</li>
                              <li>Lack of physical activity.</li>
                              <li>Older age (the older you are, the more likely you are to have high blood pressure).</li>
                              <li>Being overweight or obese.</li>
                              <li>Race (non-Hispanic black people are more likely to have high blood pressure than people of other races).</li>
                              <li>Some birth control medicines and other medicines.</li>
                              <li>Stress.</li>
                              <li>Tobacco use or drinking too much alcohol.</li>
                            </ul>
                            <p>
                              But the good news is now there is an easy way to free your body of all this.
                              There is an easy way for you to get rid of difficulty in breathing, parasite infection, bad breath, fatigue, frequent colds and almost every other disease of mankind. <br>
                              That’s because our health experts here developed a highly effective and completely safe internal cleansing program.
                            </p>
                          </p>
                        </div>
                    </div>
                </div>
                <!-- END ARTICLE -->
                
                <!-- START PROMO BLOCK -->
                <section class="hero is-danger is-bold is-small promo-block">
                    <div class="hero-body">
                        <div class="container">
                          <h1 class="article-title has-text-centered">
                               <i class="fa fa-bell-o"></i> INTRODUCING</h1>
                        </div>
                    </div>
                </section>
                <!-- END PROMO BLOCK -->

                <!-- ARTICLE -->
                 <div class="card article">
                    <div class="card-content">
                        <div class="row" style="display: flex; justify-content: space-around;">
                          <div class="col-md-6">
                            <div class="media-center">
                                <img src="{{ url_for('static', filename='images/hypertensiontea.png') }}" class="author-image" style="min-height: 500px; width: 100%;" alt="Hypertension Tea">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="media-content">
                                <p class="title article-title">Wins Town Hypertension Tea.</p>
                                <p class="subtitle is-6 article-subtitle">
                                  <small><em>Our product is called <b>Wins Town Hypertension Tea</b> and it is a virtual life saver for thousands of suffering people</em></small>
                                  <div>
                                    <ul>
                                      <li>The Wins Town Hypertension tea will normalize Blood pressure and lowers blood fat.</li>
                                      <li>Reverse hypertension.</li>
                                      <li>No more silent-hidden fears of “What might happen next”</li>
                                      <li>Helps lower blood lipids and cholesterol, lowers blood pressure and obesity, promotes blood circulation.</li>
                                      <li>Relieve blood pressure, soften blood vessels, promotes blood circulation throughout heart and brain.</li>
                                      <li>Anti-oxidative, resists free radicals, anti-inflammatory.</li>
                                      <li>Prevents heart problem, stroke, brain thrombus.</li>
                                      <li>Improves mental focus and memory.</li>
                                      <li>Gives robust heart health.</li>
                                      <li>The Tea helps the body detoxify and be in shape. Makes your body healthy and relaxed.</li>
                                      <li>The tea comes from the ecological origin, quality and health are guaranteed. Daily drinking keeps mental state in a very good shape and improves work efficiency.</li>
                                      <li>No artificial ingredients, fillers or laxatives that will leave you running for the bathroom. Our tea is 100% pure goodness.</li>
                                      <li>Save thousands of cash on year to year medication without lasing solution.</li>
                                    </ul>
                                  </div>
                                </p>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <!-- END ARTICLE -->

                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                      <div class="media">
                        <div class="row" style="display: flex; justify-content: space-around;">
                          <div class="col-md-6">
                            <div class="media-content">
                                <p class="subtitle article-subtitle">
                                  <strong>You should also know: A regulated blood pressure is the first step to fight Heart attack.</strong>
                                  <img src="{{ url_for('static', filename='images/heart.png') }}" class="author-image" style="min-height:500px; width: 100%" alt="Regulate Blood Pressure">
                                </p>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="media-center">
                                <img src="{{ url_for('static', filename='images/teacup.png') }}" style="min-height:500px; width: 100%;" class="author-image" alt="Health start with a cup of tea">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                      <hr>
                        <div class="content article-body">
                          <div class="has-text-centered">
                            <img src="{{ url_for('static', filename='images/rawmaterials.png') }}" class="author-image" style="min-height:500px;" alt="Placeholder image">
                            <p>
                              In fact to keep hypertension away, the first step is to regulate your blood pressure. And the truth is, regulating your blood pressure gives you a chance to live a long life.
                            </p>
                            <p>
                              <strong>
                                Here is what you get when you order for our Wins Town Hypertension tea
                              </strong>
                            </p>
                            <img src="{{ url_for('static', filename='images/teapack.png') }}" class="author-image" style="max-height:500px;" alt="Placeholder image">
                          </div>                          
                        </div>
                    </div>
                </div>
                <!-- END ARTICLE -->

                <!-- TESTIMONIALS -->
                <div class="card article">
                  <div class="card-content">
                    <div class="row" style="display: flex; justify-content: space-around; margin-top: 10px;">
                        <div class="col-md-4">
                          <div class="card" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title"><b>Mrs. Njide Jane from Abuja</b></h5>
                              <hr><hr>
                              <p class="card-text">
                                "I was introduced to a Hypertensive tea that helps normalize blood pressure, lower BP, cholesterol without any side effects at all. And within 3 – 5 days of using this hypertensive tea, I started to notice my blood pressure reading was reducing. I slept well at night and I could perform daily activities without dizziness, fatigue, or any other side effect that comes with the drugs which I’ve tried in the past.".
                              </p>
                              <hr>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="card" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title"><b>Babatunde from Lagos.</b></h5>
                               <hr> <hr>
                              <p class="card-text">
                               "After many years of managing my BP problems, I can say that I am almost finally free from HBP. My daughter ordered the Hypertension tea complete package from your store about a month ago. We went to the hospital for checkup and found out that my blood pressure was reading 128/89. I am having 6hours sleep and I am not taking that forgranted. I’m just grateful for coming across your page". 
                              </p>
                              <hr>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="card" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title"><b>Ameh from Asaba.</b></h5>
                              <hr> <hr>
                              <p class="card-text">
                                "I decided to order for the hypertensive tea for my mum. As she continued using it, we were checking her blood pressure reading biweekly and it was reducing. Within few weeks her blood pressure has normalized completely. <br> Now, she can sleep well without any worries of hypertension and no more severe pains she was experiencing before, we are so happy about the status of her health. Have sent your number to my elder brother in another state so he can get some of the HBP tea for himself too".
                              </p>
                              <hr>
                            </div>
                          </div>
                        </div>

                      </div>                       
                    </div>
                </div>
                <!-- END OF TESTIMONIALS -->

                              <!-- WhatsApp Contact from WATI -->
              <script>
              var url = 'https://wati-integration-service.clare.ai/ShopifyWidget/shopifyWidget.js?62323';
              var s = document.createElement('script');
              s.type = 'text/javascript';
              s.async = true;
              s.src = url;
              var options = {
              "enabled":true,
              "chatButtonSetting":{
                "backgroundColor":"#4dc247",
                "ctaText":"",
                "borderRadius":"25",
                "marginLeft":"0",
                "marginBottom":"150",
                "marginRight":"50",
                "position":"right"
              },
              "brandSetting":{
                "brandName":"24 Hours Health Remedy Stores",
                "brandSubTitle":"Typically replies within a day",
                "brandImg":"https://cdn.clare.ai/wati/images/WATI_logo_square_2.png",
                "welcomeText":"Hi, there!\nHow can we help you?",
                "messageText":"Hello, I have a question about {{page_link}}",
                "backgroundColor":"#0a5f54",
                "ctaText":"Start Chat",
                "borderRadius":"25",
                "autoShow":false,
                "phoneNumber":"2348134955949"
              }
              };
              s.onload = function() {
                  CreateWhatsappChatWidget(options);
              };
              var x = document.getElementsByTagName('script')[0];
              x.parentNode.insertBefore(s, x);
              </script>
              <!-- END OF WHATSAPP  -->

                <!-- SECTION -->
                 <section>
                  <div class="card article">
                    <div class="card-content">
                      <div class="content article-body">
                        <h3 class="has-text-centered title" style="color: red;">How to use Hypertension Tea?</h3>
                        <p>
                          Open one teabag, put it in a cup Add fresh hot or boiling water. Leave it for 5 to 8 minutes, stir lightly and enjoy. You can add lemon or honey based on your desired taste. Repeat daily for the best results. <br>
                          Now…I know you’re excited about this amazing <b>HYPERTENSION TEA</b> I’ve told you about today…
                          <br>
                          And about the fact that you can finally start breathing freely and be able to overcome your lungs related issues…
                          But you’re probably wondering how much it costs…
                          <br>
                          Well, the first thing you should know is, this tea is not available
                          anywhere… at any price…
                          <br>
                          And secondly, I’m going to give it to you at a ridiculously good
                          bargain. This tea normally costs ₦28,000 for one… but there’s no way I’m letting
                          you pay that much.
                          <br>
                          <b>So here’s what’s happening today.</b> When you order your pack of Hypertension tea today… you get a full 55% discount, <br>
                          <span style="background-color: gold;">
                            <em>You pay only ₦12,500, but that’s not all....</em>
                          </span>
                        </p>
                        <div class="has-text-centered">
                          <label>Normal price: </label><p style="text-decoration: line-through; color: red">₦28,000</p> <br>
                          <label>Promo price today: </label><p style="color:green">₦12,000</p>
                          <p>
                            <h3 style="color: blue">
                              And if you place your order right away... without leaving the website, I will do something crazy.
                            </h3> 
                            <p>
                              In fact, if you dare place your order before the countdown timer hits zero, like clicking the link and filling the form and sending in your order now, I will understand that you are serious and need a solution quickly so I will wave the shipping fee for you.. Meaning you will not pay for the cost of shipping, no matter where you live. 

                              <br><br><strong>WONT YOU FEEL BAD IF YOU DECIDE TO CONTINUE IN THE PAIN THAN HELPING YOURSELF AND YOUR FAMILY MEMBER STAY ALIVE?</strong>

                              <br><br>
                      It’s all in your hands now, you won’t get this anywhere. Have you been looking for a miracle for your hypertensive condition?

                      <h3>PLEASE NOTE!</h3>
                      <strong><span style="color: blue;">WE ARE BEGGING YOU TO PLACE ORDER ONLY IF YOU ARE NOT TRAVELLING IN THE NEXT 1 TO 3 DAYS AND HAVE MONEY AVAILABLE TO GET YOUR PRODUCT DELIVERED TO YOU. THANKS
                      DO NOT ORDER IF YOU ARE NOT READY TO RECEIVE IT , WE DONT WANT I WILL GET BACK TO YOU OR I WILL NEED IT IN 3 DAYS.DO NOT ORDER IF YOU ARE NOT READY PLEASE</span></strong>
                      <br>
                      <span style="color: red;">To place your order, simply fill in your details in the form below. Buy more and enjoy more of our promo prices
                      </span>
                            </p>
                            <div style="text-align: center;">
                                Normal price: ₦28,000 <br>
                        Promo price: ₦12,500 <br> <br>
                              <div>
                                <h5>1 Pack = ₦ 12,500</h5>
                                <h5>2 Packs = ₦ 20,000</h5>
                                <h5>3 Packs get 1 free immune booster tea = ₦ 30,000</h5>
                                <h5>4 Packs get 2 free immune booster tea = ₦ 40,000</h5>
                                <h5>5 packs get 3 free immune booster tea = ₦ 50,000</h5>
                              </div>    
                            </div>

                            <hr> <br>
                          <div id="the-final-countdown">
                            <p id="countdown"></p>
                          </div>
                    

                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

                <!-- ORDER PRODUCT FORM -->
                <section>
                  <div class="card article">
                    <div class="card-content">
                      <form action="{{ url_for('healthremedystores') }}" method=post>
                        {{ form.hidden_tag }}
                     
                        {{ form.fullname.label }}
                        {{ form.fullname }}

                        {{ form.phone_no.label }}
                        {{ form.phone_no }}
                     
                        {{ form.email.label }}
                        {{ form.email }}
                     
                        {{ form.address.label }}
                        {{ form.address }} <br>
                        <span class="text-muted">ENTER YOUR STATE, STREET AND LOCAL GOVERNMENT</span> <br>
                        <label>Please Choose*</label>
                        <label><input type="checkbox" name="product" value="1 tea pack"> 1 tea pack ₦12,500</label>
                        <label><input type="checkbox" name="product" value="2 tea packs"> 2 tea packs ₦20,000</label>
                        <label><input type="checkbox" name="product" value="3 tea packs"> 3 tea packs ₦30,000</label>
                        <label><input type="checkbox" name="product" value="4 tea packs"> 4 tea packs ₦40,000</label>
                        <label><input type="checkbox" name="product" value="5 tea packs"> 5 tea packs ₦50,000</label>
                        <br>
                     
                        {{ form.submit }}
                      </form>
                    </div>
                  </div>

              <!-- FOOTER -->
              <div class="card article">
                <footer class="card-content">
                  <div style="text-align: center;">&copy; Copyright 2021 | Disclaimer I Refund Policy | Privacy Policy | To Disclaimer <a class="nav-link" href="https://www.24hoursng.com/">24Hours Health Remedy Stores</a></div>
                  <div>
                    <small class="text-muted">
                      This Site Is Not A Part Of Facebook Website Or Facebook Inc. Additionally, This Site Is NOT Endorsed By Facebook In Any Way. FACEBOOK Is A Trademark Of FACEBOOK Inc
                    </small>
                  </div>
                </footer>
              </div>
                 </section>
        </div>
      </section>
    </div>

                      <!-- POP UP -->
                   <section class="custom-social-proof">
                      <div class="custom-notification" style="display:none" id="hide">
                        <div class="custom-notification-container" id="content">
                          <div class="custom-notification-image-wrapper">
                          </div>
                          <div class="custom-notification-content-wrapper">
                            <p class="custom-notification-content">
                             <span id="customer">Essien</span>  <span id="product"> purchased this product.</span>
                              <small>
                                <br>
                                <span id="time">4</span> minutes ago &nbsp; 
                                <i class="fa fa-check-circle"></i> Verified by <a class="poweredby" href="https://thenexttechie.com" target="_blank">The Next Techie</a>
                              </small>
                            </p>
                          </div>
                        </div>
                        <div class="custom-close"></div>
                      </div>
                    </section>
                <!-- END OF POP UP -->


    <!-- Optional JavaScript -->
      <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>